<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <link rel="stylesheet" href="https://unpkg.com/@antonz/codapi@0.19.10/dist/snippet.css" />
<body>
  <a class="skip-link" href="#main">Skip to main</a>
  <main id="main">
    <div class="content">
      {{ partial "header.html" . }}
      {{ .Content }}
      {{ if gt (len ( where .Site.RegularPages "Section" "posts" )) 0 }}
      <h3>Últimas Postagens</h3>
      <section>
        {{ range (first .Site.Params.items (where .Site.RegularPages "Section" "posts" ).ByDate.Reverse) }}
          <p>
            <time class="g time" datetime="{{ dateFormat "02-01-2006" .Date }}">{{ dateFormat "02-01-2006" .Date }}</time>&nbsp;
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          <p>
        {{ end }}
      </section>
      {{ end }}
    </div>
  </main>
  <script src="https://unpkg.com/@antonz/codapi@0.19.10/dist/snippet.js"></script>
</body>
</html>